body {
    overflow-x: hidden;
    margin: 0 auto;
    cursor: url(../img/cursor.svg) 3 3, auto;
  
}



/* ночь */
#overlay {
  position: absolute;
    margin-top: 78%;
    width: 100vw;
    height: 220.5vw;
    background: #011A5C;
    mix-blend-mode: hard-light;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 101;
}


/* найди руны */
.rune {
  width: 4vw;
  height: 4vw;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
}

#rune1 { 
  margin-top: 25.6%;
  margin-left: 31%;
  background-image: url("../img/rune1.svg"); }

#rune2 { 
  margin-top: 10.3%;
  margin-left: 26%;
  background-image: url(../img/rune2.svg); }

#rune3 { 
  width: 2vw;
  margin-top: 8%;
  margin-left: 58%;
  background-image: url(../img/rune3.svg); }

#rune4 { 
  width: 2vw;
  margin-top: 27%;
  margin-left: 34%;
  background-image: url(../img/rune4.svg); }

#rune5 { 
  width: 1.5vw;
  margin-top: 35%;
  margin-left: 53%;
  background-image: url(../img/rune5.svg);
  z-index: 11; }

#rune6 { 
  width: 1.8vw;
  margin-top: 34%;
  margin-left: 61.5%;
  background-image: url(../img/rune6.svg);
  z-index: 11; }


#popup2 {
  display: none; 
  position: fixed;
  top: 10%;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.popup-content {
  width: 50vw;
  height: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/popuprune.svg");
  position: relative;
}


/* text */
h1 {
    font-family: "font-bold";
    font-size: 5vw;
    font-variant-caps: all-petite-caps;
    line-height: 80%;
    color: white;
    margin-left: 10%;
    margin-top: 20%;
}

p {
    font-family: "font-medium";
    font-size: 2vw;
    line-height: 120%;
    color: white;
    
}


/* Первый блок */
.container {
    display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 58vw;
  background-color: #94A5FF;
}


.one {
    display: grid;
   
}

.text_one {
    margin-left: 10%;
    margin-top: -10%;
}

.button {
  width: 44.33vw;
  margin-left: 10%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  position: relative;
}

.button:active {
  transform: scale(0.95);
}

.button1 {
  background-image: url("../img/button1.svg");
}

.button2 {
  background-image: url("../img/button2.svg");
}

.signature {
  font-family: "font-medium";
  font-size: 1.5vw;
  line-height: 120%;
  color: white;
  padding-left: 60%;
  margin-top: -15.5%;

}


/* второй блок с куклой */
.two {
  display: grid;
  background-image: url("../img/Box_1\ .svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: center;
  background-position-y: center;
}

.doll {
  display: grid;
  background-image: url("../img/doll.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  margin-top: 25%;
  z-index: 2;
  height: 38vw;

}

.eyes {
  display: flex;
  gap: 0.6vw;
}

.eye {
  left: 47.1%;
  top: 10.8%;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  border: 0.02vw solid #FAE5CA;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
} 

.pupil {
  width: 0.4vw;
  height: 0.6vw;
  background: rgb(62, 62, 62);
  border-radius: 50%;
  position: absolute;
  transition: transform 0.1s linear;
}


.box {
  background-image: url("../img/Box_2.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: center;
  background-position-y: center;
  margin-top: -82%;
  z-index: 6;
}

.bag {
  background-image: url(../img/bag.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 9vw;
  margin-top: -80%;
  margin-left: 25%;
}

.pen {
  background-image: url(../img/pen.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 5vw;
  margin-top: -65%;
  margin-left: 27%;
}

.magicball {
  background-image: url(../img/magicball.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 5vw;
  margin-top: -40%;
  margin-left: 27%;
}

.book {
  background-image: url(../img/book.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 6vw;
  margin-top: -84%;
  margin-left: 62%;
}

.hat {
  background-image: url("../img/hat.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 6vw;
  margin-top: -64%;
  margin-left: 64%;
}

.notebook {
  background-image: url(../img/notebook.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 4vw;
  margin-top: -50%;
  margin-left: 67%;

}



/* Про руны */
.three {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vw;
  background-color: #011A5C;
}

.runes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/runes.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.text_two {
  text-align: center;
}


/* Обсерватория */
.house1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40vw;
  background-color: #CDF4FC;
  justify-items: center;
  /* border: 0.02vw solid #000000; */
}

.star {
  position: absolute;
  width: 5vw;
  height: 5vw;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.1s ease-in-out;
  z-index: 4;
}

.star1 {
  background-image: url(../img/star1.svg);
  margin-top: 14%;
  margin-left: -12%;
  width: 3vw;
}

.star2 {
  background-image: url(../img/star2.svg);
  margin-top: 16%;
  margin-left: -6%;
  
}

.star3 {
  background-image: url(../img/star3.svg);
  margin-top: 21%;
  margin-left: 1%;
}

.star4 {
  background-image: url(../img/star4.svg);
  margin-top: 18%;
  margin-left: 5%;
  width: 2.5vw;
}

.star5 {
  background-image: url(../img/star5.svg);
  margin-top: 12%;
  margin-left: 2%;
  width: 4vw;
}

.star.shake {
  animation: shake 0.1s infinite alternate;
}

@keyframes shake {
  0% {
    transform: translateX(-2px) translateY(-2px);
  }
  100% {
    transform: translateX(2px) translateY(2px);
  }
}

.dome {
  background-image: url("../img/dome.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50vw;
  margin-top: 10%;
  z-index: 3;

}

#daytime {
  width: 30vw;
  height: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  left: 32%;
  margin-top: -38%;
  transition: opacity 0.3s;
  position: relative;
  z-index: 1;
}

.sun {
  background-image: url("../img/sun.svg");
}

.moon {
  background-image: url("../img/moon.svg");
}

.cloud {
  width: 30vw;
  height: 30vw;
  background-image: url(../img/cloud.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: 22%;
  margin-top: -32%;
  position: relative;
  z-index: 0;
}

.cloud2 {
  width: 30vw;
  height: 20vw;
  background-image: url(../img/cloud.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: 36%;
  margin-top: -22%;
  position: relative;
  z-index: 1;
}

.cloud3 {
  width: 30vw;
  height: 15vw;
  background-image: url(../img/cloud.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: -52%;
  margin-top: -16%;
  position: relative;
  z-index: 0;
}


.cloud4 {
  width: 30vw;
  height: 15vw;
  background-image: url(../img/cloud.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: -2%;
  margin-top: -29%;
  position: relative;
  z-index: 0;
}


/* крыша */

.house2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vw;
  background-color: #CDF4FC;
  justify-items: center;
  /* border: 0.02vw solid #000000; */
  
}

.roof { 
  background-image: url("../img/roof.svg");background-repeat: no-repeat;
  background-size: contain;
  width: 80vw;
  margin-left: 7%;

}


/* Четвертый этаж дома */
.house3 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 28.60vw;
  background-color: #CDF4FC;
  justify-items: center;
  /* border: 0.02vw solid #000000; */
}

.house_1 {
  background-image: url("../img/house_1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 90vw;
  margin-left: 5%;
  z-index: 2;
}

.flower {
  width: 9vw;
  height: 16vw;
  background-image: url(../img/flower.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: 50% 0%;
  transition: transform 0.5s ease-in-out;
  margin-left: 10%;
  margin-top: -0.2%;
}

.flower:hover {
  animation: swing 0.6s infinite alternate ease-in-out;
}

@keyframes swing {
  0% { transform: rotate(-10deg); }
  100% { transform: rotate(10deg); }
}

.container2 {
  position: relative;
  width: 10vw;
  height: 10vh;
  left: 37%;
  margin-top: 2%;
}

.basket {
  position: absolute;
  left: 44%;
  margin-top: 2%;
  width: 10vw;
  height: 10vw;
  background-image: url(../img/basket.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}

.cat {
  position: absolute;
  left: 46.5%;
  width: 5vw;
  height: 8vw;
  background-image: url(../img/cat.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}


.ladder {
  width: 14vw;
  height: 14vw;
  background-image: url(../img/ladder.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 32%;
  z-index: 46;
  pointer-events: none;
}



/* Третий этаж */
.house4 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33vw;
  background-color: #CDF4FC;
  justify-items: center;
}

.house_2 {
  background-image: url(../img/house_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 75vw;
  margin-left: 4.5%;
  display: flex;
  gap: 20vw; 
  z-index: 2;
}

.resizable {
  position: relative;
  border: 0.06vw solid black;
  display: flex;
  align-items: flex-end; 
}

.box1 {
  width: 3.10vw;
  height: 4vw;
  background: #bdbbff;
  top: 73.2%;
  right: -12%;
}

.box2 {
  width: 4.5vw;
  height: 5vw;
  background: #4a51ef;
  top: 73.2%;
  right: 14.8%;
}

.resizer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5vw;
}

/* Второй этаж дома */
.house5 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 46vw;
  background-color: #CDF4FC;
  justify-items: center;
  z-index: 2;
}

.house_3 {
  background-image: url("../img/house_3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 90vw;
  position: relative; 
}


.drapery1 {
  background-image: url("../img/drapery1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 18vw; 
  margin-left: 12.8%;
  margin-top: 1.8%;
}

.drapery2 {
  background-image: url(../img/drapery2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 130vw;
  height: 20vw;
  z-index: 6;
  top: 1.6vw;
  left: 32.6vw;
  position: absolute;
  pointer-events: none;
}

.fabric6 { 
  background-image: url(../img/fabric6-1.svg);
  z-index: 5;
  margin-left: 12.8%;
  margin-top: 1.8%;
  max-width: 30vw;
}

.fabric6.state-1 { background-image: url("../img/fabric6-1.svg"); } 
.fabric6.state-2 { background-image: url("../img/fabric6-2.svg"); } 
.fabric6.state-3 { background-image: url("../img/fabric6-3.svg"); } 

.fabric7 { 
  background-image: url(../img/fabric7-1.svg);
  z-index: 5;
  margin-left: 41.8%;
  margin-top: 1.9%;
 
}

.fabric7.state-1 { background-image: url("../img/fabric7-1.svg"); } 
.fabric7.state-2 { background-image: url("../img/fabric7-2.svg"); } 
.fabric7.state-3 { background-image: url("../img/fabric7-3.svg"); } 


/* Первый этаж дома */
.house6 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 52.80vw;
  background-color: #CDF4FC;
  justify-items: center;
  position: relative;
}

.house_4 {
  background-image: url("../img/house_4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 90vw;
  z-index: 3;
}

.rectangle {
	width: 100%;
	height: 15vw;
	background: #CADAE2;
  border: 0.15vw solid #000000;
  margin-top: -15.2%;
  z-index: 2;
}

.fabric {
  background-repeat: no-repeat;
  background-size: contain;
  width: 40vw;
  height: 40vw; 
  position: absolute;
  transition: transform 0.3s; 
}

.fabric.inactive {
  pointer-events: none;
}

.fabric1 { 
  background-image: url("../img/fabric1-1.svg");
  z-index: 4;
  margin-left: -45.5%;
  margin-top: 2.2%;
}

.fabric1.state-1 { background-image: url("../img/fabric1-1.svg"); } 
.fabric1.state-2 { background-image: url("../img/fabric1-2.svg"); } 
.fabric1.state-3 { background-image: url("../img/fabric1-3.svg"); } 

.fabric2 { 
  background-image: url("../img/fabric2-1.svg");
  z-index: 5;
  margin-left: -45.5%;
  margin-top: 2.2%;
}

.fabric2.state-1 { background-image: url("../img/fabric2-1.svg"); } 
.fabric2.state-2 { background-image: url("../img/fabric2-2.svg"); } 
.fabric2.state-3 { background-image: url("../img/fabric2-3.svg"); } 

.fabric3 { 
  background-image: url("../img/fabric3-1.svg");
  z-index: 6;
  margin-left: 37%;
  width: 47vw;
  margin-top: 2.2%;
}

.fabric3.state-1 { background-image: url("../img/fabric3-1.svg"); } 
.fabric3.state-2 { background-image: url("../img/fabric3-2.svg"); } 
.fabric3.state-3 { background-image: url("../img/fabric3-3.svg"); } 

.fabric4 { 
  background-image: url("../img/fabric4-1.svg");
  z-index: 7;
  margin-left: 37%;
  width: 30vw;
  margin-top: 2.2%;
}

.fabric4.state-1 { background-image: url("../img/fabric4-1.svg"); } 
.fabric4.state-2 { background-image: url("../img/fabric4-2.svg"); } 
.fabric4.state-3 { background-image: url("../img/fabric4-3.svg"); } 

.fabric5 { 
  background-image: url("../img/fabric5-1.svg");
  z-index: 8;
  margin-left: -20%;
  width: 36vw;
  margin-top: 2.2%;
}

.fabric5.state-1 { background-image: url("../img/fabric5-1.svg"); } 
.fabric5.state-2 { background-image: url("../img/fabric5-2.svg"); } 
.fabric5.state-3 { background-image: url("../img/fabric5-3.svg"); } 

.pot {
  width: 12vw;
  height: 12vw;
  background-image: url(../img/pot.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -19.5%;
  margin-left: -48%;
  z-index: 5;
  position: relative;
  padding: 1vw;
}

.obj {
  position: absolute;
  cursor: grab;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; 
}

#obj1 {
  background-image: url(../img/obj1.svg);
  width: 5vw;
  height: 5vw;
  top: 18%;
  right: 20%;
}

#obj2 {
  background-image: url(../img/obj2.svg);
  width: 10vw;
  height: 10vw;
  top: 10%; 
  left: 10%;
}

#obj3 {
  background-image: url(../img/obj3.svg);
  width: 6vw;
  height: 6vw;
  top: 4.5%;
  left: 46%;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 50vw;
  height: 50vw;
  background-image: url(../img/popup.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: none;
}

.close-button {
  position: absolute;
  top: 170px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url(../img/x.svg);
  background-size: cover;
}

.popup .close-button:focus {
  outline: none;
}


  
  

/* Подвал */
.basement {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50vw;
  background-color: #CADAE2;
}

.brick {
  background-image: url("../img/brick.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -36%;
  width: 50vw;
  margin-left: 6%;
}

.name {
  color: #687F8A;
  margin-top: -10%;
  margin-left: 6%;
}